---
const base = import.meta.env.BASE_URL;
---

<header>
  <nav>
    <button class="hamburger" aria-label="Main menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>
    <div class="logo">
      <a href={base}>
        <img src={`${base}/anicomi_logo.png`} alt="Anicomi Logo" />
      </a>
    </div>
    <a href=`${base}/login` class="login-button">ログイン</a>
  </nav>
</header>

<style>
  header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    position: relative;
  }
  .hamburger {
    /*background: transparent;*/
    border: none;
    border-color: #003399;
    /*padding: 0;*/
    cursor: pointer;
    z-index: 2;
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .logo img {
    height: 25px;
  }
  .login-button {
    background-color: #003399;
    color: #fff;
    padding: 8px 16px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
  }
</style>